<div class="container">
  <ng-container *ngIf="true">
    <div class="heroes__filtering">
      <form [formGroup]="form" class="heroes__form">
        <div>
          <p>Movie</p>
          <app-dropdown
            formControlName="movie"
            [options]="moviesTitles"
          ></app-dropdown>
        </div>
        <div>
          <p>Species</p>
          <app-dropdown
            formControlName="species"
            [options]="speciesNames"
          ></app-dropdown>
        </div>
        <div>
          <p>Birth Date</p>
          <input type="number" formControlName="from" />
          <span> - </span>
          <input type="number" formControlName="to" />
          <span>BBY</span>
        </div>
      </form>
    </div>
    <app-card-list
      [items]="filteredHeroes"
      [onItemClick]="showHeroDetails"
    ></app-card-list>
  </ng-container>
  <ng-template #spinner><div>AAA</div></ng-template>
</div>
