<div class="dropdown" *ngIf="options.length">
  <div class="dropdown__selected" (click)="isOpened = !isOpened">
    <div>{{ selectedValue ? selectedValue : "All" }}</div>
    <div
      class="dropdown__icon"
      [style.transform]="isOpened ? 'rotateZ(-90deg)' : 'rotateZ(90deg)'"
    >
      &#10146;
    </div>
  </div>
  <div class="dropdown__options" *ngIf="isOpened">
    <div
      class="dropdown__option"
      *ngIf="selectedValue !== ''"
      (click)="setSelectedValue('')"
    >
      All
    </div>
    <div
      class="dropdown__option"
      *ngFor="let option of options"
      (click)="setSelectedValue(option)"
    >
      {{ option }}
    </div>
  </div>
</div>
