<div
  class="dropdown"
  *ngIf="outsideClick$ | async"
  (click)="onDropdownClick($event)"
>
  <div class="dropdown__selected">
    <div>{{ selectedValue ? selectedValue : "All" }}</div>
    <div
      class="dropdown__icon"
      [style.transform]="isOpened ? 'rotateZ(-90deg)' : 'rotateZ(90deg)'"
    >
      &#10146;
    </div>
  </div>
  <div class="dropdown__options" *ngIf="isOpened">
    <div
      class="dropdown__option"
      *ngIf="selectedValue !== ''"
      (click)="setSelectedValue('')"
    >
      All
    </div>
    <ng-container *ngFor="let option of options">
      <div
        class="dropdown__option"
        *ngIf="option !== selectedValue"
        (click)="setSelectedValue(option)"
      >
        {{ option }}
      </div>
    </ng-container>
  </div>
</div>
