<div class="container details__container" *ngIf="hero">
  <div class="details__top">
    <div class="details__image">
      <img
        [src]="'assets/characters/' + (hero.url | retrieveId) + '.jpg'"
        [alt]="hero.name"
      />
    </div>
    <div class="details__description">
      <div class="description__header">
        <h1>{{ hero.name }}</h1>
      </div>
      <div class="description__info">
        <p>
          Species:
          <ng-container
            *ngIf="speciesNames$ | async as speciesNames; else void"
          >
            <span *ngFor="let species of speciesNames">{{ species }}, </span>
          </ng-container>
        </p>
        <p>
          Movies:
          <ng-container *ngIf="moviesNames$ | async as moviesNames; else void">
            <span *ngFor="let movie of moviesNames">{{ movie }}, </span>
          </ng-container>
        </p>
        <p>
          Spaceships:
          <ng-container
            *ngIf="starShipsNames$ | async as starShipsNames; else void"
          >
            <span *ngFor="let starShip of starShipsNames"
              >{{ starShip }},
            </span>
          </ng-container>
        </p>
      </div>
    </div>
  </div>
  <div class="details__bottom">
    Lorem ipsum dolor sit amet consectetur adipisicing elit. Eaque, voluptates
    iusto! Ipsa laudantium cum inventore reiciendis molestiae blanditiis id
    ducimus similique quis tempore doloribus, quos quo debitis obcaecati nihil
    itaque. Lorem ipsum dolor sit amet consectetur adipisicing elit. Eaque,
    voluptates iusto! Ipsa laudantium cum inventore reiciendis molestiae
    blanditiis id ducimus similique quis tempore doloribus, quos quo debitis
    obcaecati nihil itaque. Lorem ipsum dolor sit amet consectetur adipisicing
    elit. Eaque, voluptates iusto! Ipsa laudantium cum inventore reiciendis
    molestiae blanditiis id ducimus similique quis tempore doloribus, quos quo
    debitis obcaecati nihil itaque.
  </div>
</div>
<ng-template #void><span>-</span></ng-template>
